/* Fighting Page */

.navbar {
    position: relative;
}

.figting {
    z-index: 1;
}

@media (min-width: 1440px) {
    .lg-pl-10 {
        padding-left: 10%;
    }

    .lg-pr-10 {
        padding-right: 10%;
    }
}

.fighting-page {
    @media (max-width: 991px) {
        overflow-y: auto;
    }
}

.back-ground-main-fighting {
    background-image: url("../image/shop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.figting_bg {
    background-image: url("../image/figting/hunter-figting.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 79vh;
    @media (min-width: 768px) {
        height: 100vh;
    }
    @media (min-width: 1440px) {
        background-size: cover;
    }
}

.figting_img {
    position: relative;
    @media (max-width: 991px) {
        padding: 0;
    }
}

.relative {
    position: relative;
}

.w-24 {
    width: 24px;
}

.img_figting {
    right: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    @media (min-width: 768px) {
        height: 100%;
    }
    @media (min-width: 992px) {
        position: absolute;
    }
}

.choose_pirates {
    position: absolute;
    bottom: 29%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img_name {
        width: 100%;
        max-width: 220px;
        height: auto;
        display: block;
        position: relative;
        cursor: pointer;
        @media (min-width: 1850px) {
            max-width: 310px;
        }
    }

    .block_info {
        position: absolute;
        top: 43px;
        text-align: center;
        width: 175px;
        @media (min-width: 1850px) {
            top: 63px;
            width: 250px;
        }
    }

    .name {
        font-size: 18px;
        line-height: 18px;
        color: #431f08;
        font-weight: 400;
        margin-bottom: 0;
        @media (min-width: 1850px) {
            font-size: 28px;
            line-height: 25px;
        }
    }

    .level {
        font-size: 14px;
        color: #8e522b;
        font-weight: 400;
        line-height: 16px;
        @media (min-width: 1850px) {
            font-size: 16px;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        padding: 0 7px;
        margin-left: -10px;
        @media (min-width: 1850px) {
            margin-top: 14px;
        }

        > div {
            display: flex;
            align-items: center;
        }

        span {
            font-size: 12px;
            color: #f0f0f0;
            font-weight: bold;
            font-family: "Myriad Pro";
            @media (min-width: 768px) {
                font-size: 14px;
            }
        }

        img {
            height: 23px;
            width: auto;
            object-fit: cover;
            @media (min-width: 1850px) {
                height: 25px;
            }
        }
    }
}

.block_boss {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: 992px) {
        padding-top: 0;
        margin: 100px 0 30px;
    }
}

.block_land {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 992px) {
        margin-bottom: 20px;
    }

    .image_land {
        img {
            width: 100%;
            max-width: 375px;
            object-fit: cover;
        }
    }

    .normal_land {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .boss_name {
            font-size: 18px;
            color: #fffde2;
            font-weight: 400;
            filter: drop-shadow(0px 3px 0px #000000);
            text-transform: capitalize;
        }

        img {
            width: 100%;
            max-width: 146px;
            height: auto;
            object-fit: cover;
        }

        &.chanllenge_land_boss {
            bottom: -25px;
        }
    }

    &.-mt-35 {
        @media (min-width: 992px) {
            margin-top: -35%;
        }
    }
}

.land_right {
    &.mt-35 {
        @media (min-width: 992px) {
            margin-top: 35%;
        }
    }
}

.fight_button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

/* Fighting Page Popup Your Private*/

.popup {
    &.choose_pirates-popup {
        &.active {
            z-index: 99999;
        }

        .popup-content {
            width: 736px;
            height: calc(~"100vh - 39px");

            .close-modal {
                top: 74px;
                right: 0;
            }
        }

        .content_pirates {
            z-index: 5;
            height: 100%;
            margin-top: 186px;
            width: calc(~'100% - 68px');

            .filter {
                display: flex;
                justify-content: end;
                margin: 0 26px 13px 0;
                height: 32px;
            }
        }

        .list_pirates {
            max-height: calc(~'100vh - 330px');
            overflow-y: scroll;
            padding: 0 10px;
            margin-right: 6px;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #ad6a2e;
                border: 1px solid #ad6a2e;
            }

            &::-webkit-scrollbar-track {
                border: none;
                background: #431f08;
                box-shadow: none;
                margin: 0 1px 0 0;
            }
        }

        .item_pirates {
            position: relative;
            width: 100%;
            height: 155px;
            padding: 0 10px;
            margin-bottom: 14px;

            > img {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &.item_legend {
                .info_pirate .badges {
                    left: -11px;
                }
            }
        }

        .info_pirate {
            display: flex;
            justify-content: flex-start;
            z-index: 10;
            align-items: center;
            height: 100%;

            .badges {
                z-index: 1;
                position: absolute;
                top: 0;
                left: -3px;
            }

            .your {
                z-index: 1;
            }

            .info_name {
                z-index: 1;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 12px;
            }

            .parite_name {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;

                .name {
                    font-size: 26px;
                    color: #653c22;
                    font-weight: 400;
                    margin-bottom: 0;
                    @media (min-width: 992px) {
                        font-size: 30px;
                    }
                }

                .level {
                    font-size: 19px;
                    color: #653c22;
                    font-weight: 400;
                    @media (min-width: 992px) {
                        font-size: 22px;
                    }
                }

                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > div {
                        display: flex;
                        align-items: center;
                        padding-right: 30px;
                    }

                    span {
                        font-size: 19px;
                        color: #653c22;
                        font-weight: 400;
                        @media (min-width: 992px) {
                            font-size: 22px;
                        }
                    }

                    img {
                        margin-right: 8px;
                    }
                }
            }

            .button_select {
                z-index: 1;
                position: absolute;
                right: 12px;

                span.select {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 400;
                    @media (min-width: 992px) {
                        font-size: 22px;
                    }
                }

                .select_button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: none;
                }

                img {
                    width: 100px;
                    height: auto;
                    display: block;
                    @media (min-width: 992px) {
                        width: auto;
                    }
                }
            }
        }


    }
}
