/* Fighting Page */
/* .navbar {
  position: relative;
} */
.figting {
  z-index: 1;
  max-width: 1920px;
  position: static;
  overflow-x: hidden;
}

.figting {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.figting::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@media (min-width: 1440px) {
  .lg-pl-10 {
    padding-left: 10%;
  }

  .lg-pr-10 {
    padding-right: 10%;
  }
}


/* .back-ground-main-fighting {
  background-image: url("../image/shop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.figting_bg {
  background-image: url("../image/figting/hunter-figting.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 79vh;
}

@media (min-width: 768px) {
  .figting_bg {
    height: 100vh;
  }
}

@media (min-width: 1440px) {
  .figting_bg {
    background-size: cover;
  }
}

.figting_img {
  position: relative;
  padding: 0;
}

@media (max-width: 991px) {
  .figting_img {
    padding: 0;
  }
}

.relative {
  position: relative;
}

.w-24 {
  width: 24px;
}

.img_figting {
  right: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .img_figting {
    /* height: 100%; */
  }
}

@media (min-width: 1440px) {
  .img_figting {
    position: absolute;
    object-position: right center;
    width: 100%;
  }
}

.choose_pirates {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  border: aliceblue;
  right: 50%;
  bottom: 35%;
  left: auto;
  width: 33.33%;
  transform: translateX(30%);

}

.choose_pirates .img_name {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  cursor: pointer;
  max-width: 300px;
}

/* @media (min-width: 1850px) {
  .choose_pirates .img_name {
    max-width: 310px;
  }
} */

@media(max-width: 1199px) and (min-width: 992px) {
  .choose_pirates {
    width: 40%;
  }
}

@media(max-width: 1439px) and (min-width: 992px) {
  .choose_pirates {

  }
  .choose_pirates .img_name {
    max-width: 250px;
  }
}

@media(min-width: 1440px) {

}
.choose_pirates {
  flex-direction: column;
}
.choose_pirates .block_info {
  position: relative;
  top: auto;
  margin-bottom: 15px;
}
.choose_pirates .block_info .choose-pirates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.choose_pirates .block_info .choose-pirates .btn {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 15px;
  font-weight: nomal;
}
.choose_pirates .info-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose_pirates .info-name .background-icon {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.choose_pirates .info-name .quality-icon {
  position: absolute;
  left: -28px;
  max-height: 55px;
  top: -17px;
}
.choose_pirates .info-name .name {
  font-size: 18px;
  font-weight: 400;
  color: #431f08;
}
.choose_pirates .info-name .level {
  color: #7e583f;
}
.choose_pirates .info-name p {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}
.choose_pirates .info {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
  margin-top: 10px;
  max-width: 85%;
  margin: 14px auto 0;
}
.choose_pirates .info:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  background: #431f08;
  z-index: -1;
}

.choose_pirates .block_info {
  position: relative;
  margin: 0 auto 15px;
  text-align: center;
  width: 250px;
}

@media (min-width: 1850px) {
  .choose_pirates .block_info {
    width: 250px;
  }
}

.choose_pirates .name {
  font-size: 18px;
  line-height: 18px;
  color: #431f08;
  font-weight: 400;
  margin-bottom: 0;
}

@media (min-width: 1850px) {
  .choose_pirates .name {
    font-size: 28px;
    line-height: 25px;
  }
}

.choose_pirates .level {
  font-size: 14px;
  color: #8e522b;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: 1850px) {
  .choose_pirates .level {
    font-size: 16px;
  }
}

@media (min-width: 1850px) {
  .choose_pirates .info {
    margin-top: 14px;
  }
}

.choose_pirates .info>div {
  display: flex;
  align-items: center;
}

.choose_pirates .info span {
  font-size: 12px;
  color: #f0f0f0;
  font-weight: bold;
  font-family: "Myriad Pro";
}

@media (min-width: 768px) {
  .choose_pirates .info span {
    font-size: 14px;
  }
}

.choose_pirates .info img {
  height: 23px;
  width: auto;
  object-fit: cover;
}

@media (min-width: 1850px) {
  .choose_pirates .info img {
    height: 25px;
  }
}

.block_boss {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .block_boss {
    padding-top: 0;
    margin: 100px 0 0px;
  }
}

.block_land {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .block_land {
    margin-bottom: 20px;
  }
}

.block_land .image_land img {
  width: 100%;
  object-fit: cover;
}

.block_land .normal_land {
  position: absolute;
  bottom: 11%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_land .normal_land .boss_name {
  font-size: 18px;
  color: #fffde2;
  font-weight: 400;
  filter: drop-shadow(0px 3px 0px #000000);
  text-transform: capitalize;
}

.block_land .normal_land .boss_name button {
  z-index: 10;
}

.block_land .normal_land img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Update style Fighting*/
.fighting-page .figting {
  height: 100%;
}

.fighting-page .figting>.container-fluid {
  height: 100%;
}

.fighting-page .figting>.container-fluid>.row {
  height: 100%;
}

.fighting-page .block_boss {
  margin-top: 0;
  padding-bottom: 0;
  position: relative;
}

@media(min-width: 992px) {
  .fighting-page .block_boss {
    min-height: 800px;
    max-width: 700px;
  }
}

@media(max-width: 991px) {
  .fighting-page .figting {
    display: flex;
  }
  .fighting-page .block_boss {
    padding: 0;
    height: 80vh;
    padding-top: 10vh;
  }

}


.fighting-page .block_boss .block_land {
  position: absolute;
  top: auto;
  left: 16.1%;
  right: auto;
  bottom: 56.5%;
  width: 45.5%;
  margin-bottom: 0;
}

@media(max-width: 1600px) {
  .fighting-page .block_boss .block_land {
    max-width : 350px;
  }
}
@media(min-width: 1200px) {
  .fighting-page .figting {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.fighting-page .block_boss .block_land.one .normal_land {
  left: 57%;
  transform: translateX(-50%);
  right: auto;
  bottom: 13%;
}

.fighting-page .block_boss .block_land.two {
  top: auto;
  left: 51%;
  right: auto;
  bottom: 34%;
  width: 48%;
}

.fighting-page .block_boss .block_land.two .normal_land {
  bottom: 20%;
  transform: translateX(75%);
}

.fighting-page .block_boss .block_land.three {
  top: auto;
  left: 3.5%;
  right: auto;
  bottom: 25%;
  width: 52.5%;
}

.fighting-page .block_boss .block_land.three .normal_land {
  bottom: 17%;
}

.fighting-page .block_boss .block_land.four {
  bottom: 7%;
  top: auto;
  right: auto;
  left: 32%;
  width: 66%;
}

.fighting-page .block_boss .block_land.four .normal_land {
  bottom: 9%;
}

@media (min-width: 992px) {
  .block_land.-mt-35 {
    margin-top: -35%;
  }
}

@media (min-width: 992px) {
  .land_right.mt-35 {
    margin-top: 35%;
  }
}

.fight_button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

/* Fighting Page Popup Your Private*/
.popup.choose_pirates-popup.active {
  z-index: 99999;
}

.popup.choose_pirates-popup .popup-content {
  width: 736px;
  height: calc(100vh - 39px);
}

@media(max-width: 767px) {
  .popup.choose_pirates-popup .popup-content {
    max-height: 80vh;
  }
}

.popup.choose_pirates-popup .content_pirates {
  z-index: 5;
  height: 100%;
  margin-top: 186px;
  width: calc(100% - 68px);
}

.popup.choose_pirates-popup .content_pirates .filter {
  display: flex;
  justify-content: end;
  margin: 0 26px 13px 0;
  height: 32px;
}

.popup.choose_pirates-popup .list_pirates {
  max-height: calc(100vh - 330px);
  padding: 0 10px;
  margin-right: 6px;
}

.popup.choose_pirates-popup .list_pirates::-webkit-scrollbar {
  width: 10px;
}

.popup.choose_pirates-popup .list_pirates::-webkit-scrollbar-thumb {
  background-color: #ad6a2e;
  border: 1px solid #ad6a2e;
}

.popup.choose_pirates-popup .list_pirates::-webkit-scrollbar-track {
  border: none;
  background: #431f08;
  box-shadow: none;
  margin: 0 1px 0 0;
}

.popup.choose_pirates-popup .item_pirates {
  position: relative;
  width: 100%;
  height: 155px;
  margin-bottom: 14px;
}

.popup.choose_pirates-popup .info_pirate {
  display: flex;
  justify-content: flex-start;
  z-index: 10;
  align-items: center;
  height: 100%;
  padding: 0 0 0 10px;
}

.popup.choose_pirates-popup .item_pirates {
  background-image: url("../image/figting/item-pirates.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.popup.choose_pirates-popup .info_pirate .badges {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.popup.choose_pirates-popup .info_pirate .your {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup.choose_pirates-popup .info_pirate .info_name {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup.choose_pirates-popup .info_pirate .parite_name {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-left: 5px;
}

.popup.choose_pirates-popup .info_pirate .parite_name .name {
  font-size: 26px;
  color: #653c22;
  font-weight: 400;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .popup.choose_pirates-popup .info_pirate .parite_name {
    padding-left: 10px;
  }
}

.popup.choose_pirates-popup .info_pirate .parite_name .level {
  font-size: 19px;
  color: #653c22;
  font-weight: 400;
}

@media (min-width: 1601px) {
  .popup.choose_pirates-popup .info_pirate .parite_name .level {
    font-size: 22px;
  }
}

.popup.choose_pirates-popup .info_pirate .parite_name .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup.choose_pirates-popup .info_pirate .parite_name .bottom>div {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

@media (max-width: 1600px) {
  .popup.choose_pirates-popup .item_pirates {
    height: 110px;
  }
}

@media (max-width: 991px) {
  .popup.choose_pirates-popup .info_pirate .parite_name .bottom>div {
    padding-right: 12px;
  }
}

.popup.choose_pirates-popup .info_pirate .parite_name .bottom span {
  font-size: 19px;
  color: #653c22;
  font-weight: 400;
}

@media (min-width: 992px) {
  .popup.choose_pirates-popup .info_pirate .parite_name .bottom span {
    font-size: 20px;
  }
}

.popup.choose_pirates-popup .info_pirate .parite_name .bottom img {
  margin-right: 8px;
}

.popup.choose_pirates-popup .info_pirate .button_select {
  z-index: 1;
  /*position: absolute;*/
  /*right: 12px;*/
}

.popup.choose_pirates-popup .info_pirate .button_select span.select {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  min-width: 60px;
}

.popup.choose_pirates-popup .info_pirate .button_select .select_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.popup.choose_pirates-popup .info_pirate .button_select img {
  width: 85px;
  height: auto;
  display: block;
  min-height: 30px;
}

@media (min-width: 1601px) {
  .popup.choose_pirates-popup .info_pirate .button_select img {
    width: auto;
  }
  .popup.choose_pirates-popup .info_pirate .button_select span.select {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .choose_pirates {
      bottom: 30%;
  }
  .choose_pirates .img_name {
      max-width: 250px;
  }
}
@media(max-width: 767px) {
  .block_land .normal_land .boss_name {
    font-size: 16px;
  }
  .fighting-page .block_boss .block_land.one .boss_name {
    font-size: 14px;
  }
  .popup.choose_pirates-popup .info_pirate .button_select img {
    width: 60px;
  }
}
@media (max-width: 725px) {
  .choose_pirates {

  }
  .choose_pirates .img_name {
      max-width: 200px;
  }
  .img_figting {
      object-fit: contain;
  }
}
