/* Pirates Page */

.pirates_pages {
    max-width: 1767px;
    margin: 60px auto 0;
    position: relative;
    height: calc(100vh - 100px);
}

.pirates_pages .dataTables_wrapper {
    position: initial;
}

.pirates_pages .content-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.pirates_pages .center {
    text-align: center;
}

.pirates_pages .filter {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    background: #341408;
    z-index: 1;
}

.pirates_pages .filter_pirates {
    width: 300px;
    padding: 9px 9px 9px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.pirates_pages .filter span {
    color: #fff;
}

.pirates_pages .title-popup img {
    position: absolute;
    top: -25px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.pirates_pages .title-popup {
    position: relative;
}

.pirates_pages .title-popup .text {
    font-size: 31px;
    z-index: 9;
    position: relative;
    top: -23px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 40px;
}

.pirates_pages .listing table.dataTable {
    border: none;
}

.listing table.dataTable thead th, .listing table.dataTable thead td {
    border: none;
    background: none;
    padding: 0;
}

.listing table.dataTable thead .sorting_asc, .listing table.dataTable thead .sorting {
    background-image: none !important;
}

.listing table.dataTable.display tbody tr.odd > .sorting_1, .listing table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent;
    padding-top: 0;
}

.listing table.dataTable.stripe tbody tr.odd, .listing table.dataTable.display tbody tr.odd {
    background-color: transparent;
}

.listing .pirates-box {
    margin-bottom: 20px;
}

.listing .pirates-box .pirate_item > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.listing .pirates_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    overflow-y: auto;
    min-height: 50vh;
    max-height: 64vh;
}

.listing .pirate_item {
    /*background-image: url("../image/pitare-bg.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    width: 100%;
    height: 100%;
    position: relative;
}

.listing .info_block_fighting {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 12px;
}

.listing .fighting_item {
    /*min-height: 40%;*/
}

.listing .title_popup_item {
    position: relative;
}

.listing .title_popup_item img {
    position: absolute;
    top: -12px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.listing .fighting_item img {
    width: auto;
    max-width: 35%;
    text-align: center;
    margin: 10% auto 0;
    display: block;
}

@media (min-width: 1920px) {
    .listing .fighting_item img {
        max-width: 55%;
    }
}

.listing .number {
    position: absolute;
    top: 9%;
    left: 25px;
    color: #795d3f;
    font-size: 14px;
}

.listing .title_popup_item h4.text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
}

.listing .armorial_item {
    position: relative;
}

.listing .armorial_item {
    /*min-height: 10%;*/
}

.listing .armorial_item img {
    max-width: 100%;
    padding: 0 12%;
    margin: 0 auto;
    display: block;
}

.listing .armorial_item span {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #431f08;
    font-size: 14px;
}

.listing .info_bottom {
    height: auto;
    background: #ceb37f;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px 5px;
    padding: 16px 12px;
    width: 88%;
    margin: 20px auto 10px;
}

.listing .info_bottom img {
    width: 18px;
}

.listing .info_item span {
    color: #452009;
    font-size: 12px;
}


.listing .pirates_list::-webkit-scrollbar {
    display: none;
}

.listing .pirates_list::-webkit-scrollbar-thumb {
    display: none;
}

.listing .pirates_list::-webkit-scrollbar-track {
    display: none;
}

@media (min-width: 1024px) {
    .listing .pirates_list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.listing #pirates_paginate {
    position: absolute;
    top: auto;
    width: 100vw;
    text-align: center;
    background-image: url(/image/pagination.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -40px;
    padding-bottom: 30px;
    padding-top: calc(16vh - 55px);
    left: 50%;
    transform: translateX(-50%);
}

.listing .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
}

.listing a {
    border: none;
    transition: none;
}

.listing .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #f8e2b1;
    border-radius: 8px;
    border: 1px solid #966837;
    color: #333 !important;
}

.listing .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #fff !important;
}

.listing .dataTables_wrapper .dataTables_paginate .paginate_button.current, .listing .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #f8e2b1;
    border-radius: 8px;
    border: 2px solid #966837;
}

.filter_items {
    display: none;
}

.filter_dropdown.open .filter_items {
    display: block;
}

.filter_dropdown .dropdown-toggle {
    display: none;
}

.filter_dropdown .dropdown_filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter_dropdown .dropdown_item {
    background: #6e644b;
    margin-top: 3px;
    padding: 9px 9px 9px 20px;
    font-size: 15px;
    color: #fffde2;
}

.box_filter {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.icons_check {
    display: inline-block;
    width: .5em;
    height: .8em;
    position: absolute;
    right: 16px;
    transform: rotate(90deg);
}

.filter_dropdown.open .icons_check {
    transform: rotate(270deg);
}

.icons_check:before,
.icons_check:after {
    display: block;
    content: "";
    width: 0;
    height: 0em;
    border-style: solid;
    position: absolute;
}

.icons_check:before {
    right: 0;
    border-width: .4em 0 .4em .4em;
    border-color: transparent transparent transparent #341408;
}

.icons_check:after {
    left: 0;
    border-width: .4em 0 .4em .4em;
    border-color: transparent transparent transparent #ad6a2e;
}

.chevron {
    position: relative;
    padding: 0px;
    height: 17px;
    width: 6px;
    margin-left: 0px;
    margin-top: 0px;
}

.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: gray;
    -webkit-transform: skew(25deg, 0deg);
    -moz-transform: skew(25deg, 0deg);
    -ms-transform: skew(25deg, 0deg);
    -o-transform: skew(25deg, 0deg);
    transform: skew(25deg, 0deg);
}

.chevron:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
    width: 100%;
    background: gray;
    -webkit-transform: skew(-25deg, 0deg);
    -moz-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}

.scroll-down img {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 100;
    width: 36px;
}

/*Fix*/

.pirates_pages .center > img {
    max-width: 18vw;
}

.pirates_pages .title-popup img {
    max-width: 24vw;
}

/*Fix*/
@media (max-width: 1023px) {
    .listing .fighting_item img {
        max-width: 33%;
        margin: 13% auto 0;
    }

    .listing .number {
        top: 11%;
        left: 18px;
    }
}

@media (max-width: 991px) {
    .pirates_pages .filter_pirates {
        width: 120px;
    }

    .listing .title_popup_item img {
        max-width: 65%;
    }
}

@media (max-width: 767px) {
    .pirates_pages .filter_pirates {
        width: 100px;
        padding: 4px 5px 3px 10px;
    }

    .box_filter {
        width: 18px;
        height: 18px;
    }

    .icons_check {
        right: 10px;
    }

    .pirates_pages .center > img {
        max-width: 36vw;
    }

    .pirates_pages .title-popup img {
        top: -15px;
        max-width: 54vw;
        height: 36px;
    }

    .pirates_pages .filter span {
        font-size: 14px;
    }

    .pirates_pages .title-popup .text {
        font-size: 18px;
        top: -12px;
    }

    .listing .dataTables_wrapper .dataTables_paginate .paginate_button {
        font-size: 12px;
    }
}