.shop-page .back-ground-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.shop-page .chest-box {
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    position: relative;
}
.shop-page .chest-box .island-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shop-page .island-image > img {
    max-width: 80vw;
    max-height: 60vh;
}
@media (min-width: 1200px) {
    .shop-page .island-image > img {
        max-width: 50vw;
    }
}
.shop-page .group-button {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translatex(-50%);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop-page .group-button .submit-block img {

}

.shop-page .group-button .price-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 83%;
    margin: -20px auto 10px;
    z-index: 10;
}

.shop-page .group-button .price-block img {
    max-width: 24px;
    object-fit: contain;
}

@media(max-width: 767px) {

     .shop-page .group-button .price-block {

        max-height: 24px;
        margin-bottom: 5px;
      }
      .shop-page .group-button .price-block img {
          width: 20px;
      }
      .shop-page .group-button .submit-block img {

      }
}
.shop-page .group-button .price-block p {
    font-size: 22px;
    color: #fff;
    margin: 0 0 0 10px;
    padding: 0;
}
.shop-page .group-button .price-block:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #431f08;
    z-index: -1;
    transform: skew(-15deg) translateX(-50%);
}
.shop-page .group-button .submit-block {
    position: relative;
    top: 100%;
    width: 100%;
}
.shop-page .group-button .submit-block img {
    width: 100%;
}
.shop-page .group-button .submit-block button {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

@media(max-width: 767px) {
    .shop-page .group-button .price-block p {
        font-size: 16px;;
    }
}