/*=== MEDIA QUERY ===*/
/*
Theme Name: Medic
Author: Themefisher
Author URI: https://themefisher.com/
Description: Medicle Template
Version: 1.0.0

*/
@font-face {
  font-family: "Changa";
  src: url("../fonts/ChangaOne-Regular.ttf") format("truetype");
  /* IE9 Compat Modes */
  src: url("../fonts/ChangaOne-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-family: Changa;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Changa;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.navbar-toggle .icon-bar {
  background: #223a66;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
  box-shadow: none;
  border: 1px solid #223a66;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 3.75rem;
}

.no-spacing {
  letter-spacing: 0px;
}
@media(min-width: 992px) {
  .hidden-lg {
    display: none;
  }
}

/* Links */
a {
  color: #222;
  text-decoration: none;
  transition: all .35s ease;
}

a:focus,
a:hover {
  color: #e12454;
  text-decoration: none;
}

a:focus {
  outline: none;
}


@media (max-width: 480px) {

  h2,
  .h2 {
    font-size: 1.3rem;
    line-height: 36px;
  }
}

/* Header */
p {
  margin: 0;
}

button:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.shop-page {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.navbar-left li .sub_menu .dropdown-item:hover {
  color: #431f08;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffdd93;
}

@media (max-width: 767px) {
  .navbar-left li .sub_menu .dropdown-item:hover {
    -webkit-text-stroke-width: 1px;
  }
  .navbar-left li .sub_menu .dropdown-item {
    font-size: 12px;
  }
}

.dropdown:hover {
  flex-direction: column;
}

.item_inventory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub_menu .dropdown-menu {
  margin-top: 7px;
  background: #653c22e8;
}

.sub_menu .dropdown-toggle {
  display: none;
}

.sub_menu .dropdown-item:hover, .sub_menu .dropdown-item:focus {
  background: none;
}

.navbar {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 1%;
  z-index: 9999;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar .container-fluid {
  padding: 0;
  justify-content: flex-start !important;
}

.navbar .container-fluid.not-active {
  justify-content: space-between !important;
}

.navbar-left {
  position: relative;
  padding: 10px 1.5vw;
}

.navbar-left img.icon {
  object-fit: contain;
  height: 24px;
}

.navbar-left li {
  position: relative;
}

.navbar-left li a {
  margin-left: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.navbar-left li .sub_menu .dropdown-item {
  display: flex;
  margin-left: 0;
  color: #fff;
  -webkit-text-stroke-width: 0px;
}

.navbar-left li .sub_menu .dropdown-item img {
  margin-right: 5px;
}

.navbar-left li a:before {

}
@media (max-width: 991px) {
  .navbar-left li .sub_menu .dropdown-item img {
    width: 21px;
    object-fit: contain;
  }
}

img.icons_active {
  display: none;
}

.dropdown-item:hover img.icons {
  display: none;
}

.dropdown-item:hover img.icons_active {
  display: block;
}

.navbar-left li:not(:last-child) {
  margin-right: 1.5vw;
}

.navbar-left li img {
  width: 30px;
  max-height: 24px;
}

.navbar-left li img.active {
  display: none;
}

.navbar-left li.active img.active,
.navbar-left li:hover img.active {
  display: block;
}

.navbar-left li.active img.icon,
.navbar-left li:hover img.icon {
  display: none;
}


@media(max-width: 992px) {
  .navbar-left li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-left li:not(:last-child) {
    margin-right: 5px;
  }
}

header button.navbar-toggler {
  height: 48px;
}

@media (max-width: 1199px) {
  #bdNavbar {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 767px) {
  #bdNavbar {
    position: absolute;
    width: 100%;
    max-width: 300px;
    left: 62px;
  }
}

@media(max-width: 1199px) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  div#bdNavbar.show {
    position: absolute;
    left: 70px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }

  .navbar-expand-md .navbar-collapse.collapsing {
    position: absolute;
    left: 70px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
}


#bdNavbar.collapsing+.navbar-right {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  justify-content: flex-end;
}

#bdNavbar.show+.navbar-right {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  justify-content: flex-end;
}

.back-ground-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar-right {
  padding: 0px 10px 0 0;
  opacity: 1;
  visibility: visible;
}

@media(min-width: 768px) {
  .navbar-right {
    flex-wrap: nowrap !important;
  }
}

.navbar-right .nav-item>img {
  max-width: 140px;
  object-fit: contain;
}
.navbar-right .nav-item.wallet-block img{
  max-width: 160px;
}
.navbar-right .nav-item.gold>img {
  max-width: 120px;
}

.navbar-right li {
  position: relative;
}

.navbar-right li a {
  margin-left: 5px;
  color: #fff;
}

.navbar-right li:not(:last-child) {
  margin-right: 20px;
}

.navbar-right .nav-item {
  position: relative;
}

.navbar-right .nav-item .background-icon {
  height: 48px;
}

.navbar-right .nav-item .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: left;
  padding: 0 10px 0 35px;
}

.navbar-right .nav-item:not(.dropdown) button {
  position: absolute;
  top: 0;
  border: none;
  outline: none;
  color: #fff;
  padding: 1px 10px 1px 35px;
}

.navbar-right .cash button {
  right: 0;
  background: transparent;
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.navbar-right .wallet-block button {
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.navbar-right .setting-block button {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.navbar-right .setting-block button img {
  width: 28px;
}

.navbar-right #dropdownMenu1 {
  right: 0;
  top: 100%;
}

.navbar-right #dropdownMenu1 a {
  color: #222;
  margin: 0;
}

.navbar-left li:hover a,
.navbar-left li.active a {
  color: #58301b;
  position: relative;
  z-index: 5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffdd93;
}

.navbar-left li:hover img,
.navbar-left li.active img {
  position: relative;
  z-index: 5;
}

.navbar-left li:hover:before,
.navbar-left li.active:before {
  content: '';
  background-image: url('../image/header/active_menu.png');
  position: absolute;
  top: -20%;
  left: -15%;
  width: 150%;
  height: 150%;
  background-position: center center;
  background-size: contain;
  z-index: 0;
}


/* Background */
.main-box>.back-ground-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* Popup header */
.popup-active header {
  z-index: -1;
}

.popup ::-webkit-scrollbar-track {
  border: none;
  background: #431f08;
  box-shadow: none;
  margin: 0 1px 0 0;
}
.popup ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
.popup ::-webkit-scrollbar-thumb {
  background-color: #ad6a2e;
  border: 1px solid #ad6a2e;
}

.popup {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.popup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  display: block;
}

.popup.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 999;
}

.popup .popup-content {
  border-radius: 15px;
  position: relative;
  max-width: 80%;
  width: 640px;
  height: 500px;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -49%);
}

.popup .popup-content .close-modal {
  position: absolute;
  width: 46px;
  height: 50px;
  right: -6px;
  top: -8px;
  z-index: 10;
}

.popup .popup-content .close-modal img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup .popup-content .close-modal:hover {
  cursor: pointer;
}

.popup .popup-body {
  position: relative;
  height: 100%;
}

.popup .popup-body .title-popup {
  color: #fff;
  width: 100%;
}
.popup .popup-body .title-popup img {
  position: absolute;
  width: 60%;
  top: -15px;
  height: 65px;
  left: 50%;
  transform: translateX(-50%);
}
.popup .popup-body .title-popup .text {
  font-size: 35px;
  z-index: 9;
  position: relative;
  top: -3px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.popup .popup-body>.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.popup .popup-body .main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 50px;
}

.setting-popup .top-block {
  z-index: 5;
  position: absolute;
  top: 22%;
}

.setting-popup .top-block img {
  width: 60px;
  height: 60px;
}

.setting-popup .bottom-block {
  position: relative;
  z-index: 5;
  height: calc(52% - 0px);
  width: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  background: #ceb37f;
  margin: 0 10px 0 0;
  margin-top: 5%;
  padding: 8px 40px 20px 40px;
  margin-bottom: 5%;
}

.setting-popup .bottom-block .text {
  color: #653c22;
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
}

.setting-popup .bottom-block input {
  background: #7b5a3b;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 3px 5px;
  height: 57px;
}

.setting-popup .bottom-block .submit-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.setting-popup .bottom-block .submit-block .background-icon {
  width: 250px;
  height: 80px;
}

.setting-popup .bottom-block .submit-block button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 250px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}





@media(min-width: 992px) {
  .hidden-md-up {
    display: none;
  }
  .setting-popup.popup .popup-content {
    max-width: 45vw;
  }
}

@media(max-width: 991px) {
  .popup .popup-body .title-popup .text {
    font-size: 24px;
  }
}

@media(max-width: 767px) {
  .popup .popup-content {
    width: 75vw;
    height: 60vh;
    max-height: 350px;
  }

  .popup .popup-content .close-modal {
    width: 36px;
    height: 40px;
  }

  .popup .popup-body .title-popup img {
    height: 55px;
  }

  .setting-popup .top-block img {
    width: 45px;
    height: 45px;
  }

  .setting-popup .bottom-block {
    width: calc(100% - 60px);
    padding: 8px 10px 20px 10px;
    margin-bottom: 10%;

  }

  .popup .popup-body .main-box {
    padding-bottom: 30px;
  }

  .setting-popup .bottom-block .text {
    font-size: 14px;
  }

  .setting-popup .bottom-block input {
    height: 48px;
  }

  .setting-popup .bottom-block .submit-block {
    margin-top: 5%;
    flex-grow: 2;
  }

  .setting-popup .bottom-block .submit-block .background-icon {
    width: 35vw;
    object-fit: contain;
    height: auto;
    max-height: 50px;
  }
  .setting-popup .bottom-block .submit-block button {
    font-size: 18px;
  }
}

@media(max-width: 475px) {
  .setting-popup .bottom-block .text {
    font-size: 11px;
    ;
  }

  .setting-popup .bottom-block input {
    height: 30px;
  }
}

/* Wallet-popup */
.wallet-popup .main-box {
  justify-content: flex-end !important;
  padding-bottom: 30px;
}

.wallet-popup .top-block {
  position: relative;
  z-index: 5;
  margin-top: 0;
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.wallet-popup .top-block .text {
  font-size: 100px;
  color: #653c22;
}

.wallet-popup .bottom-block {
  position: relative;
  z-index: 5;
  width: calc(100% - 40px);
  display: flex;
  margin-right: 10px;
  margin-bottom: 5%;
  padding: 30px;
  justify-content: center;
    flex-wrap: wrap;
}

.wallet-popup .bottom-block .submit-block {
  width: 48%;
  position: relative;
  height: 80px;
  min-width: 180px;
  margin-bottom: 10px;
}
.wallet-popup .bottom-block .submit-block.left-block {
  margin-right: 2%;
}

.wallet-popup .bottom-block .submit-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wallet-popup .bottom-block .submit-block button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 250px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: capitalize;
}

@media(max-width: 767px) {
  .popup .popup-body .title-popup .text {
    font-size: 18px;
  }
  .wallet-popup .top-block .text {
    font-size: 66px;;
  }
  .wallet-popup .bottom-block {
    margin-top: 0;
    padding: 10px;
  }
  .wallet-popup .bottom-block .submit-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wallet-popup .bottom-block .submit-block button {
    height: auto;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
/* End Wallet-popup */

/* Alert-popup */

.alert-popup .main-box {
  justify-content: flex-end !important;
  padding-bottom: 30px;
}

.alert-popup .top-block {
  position: relative;
  z-index: 5;
  margin-top: 0;
  flex-grow: 0.8;
  display: flex;
  align-items: center;
}

.alert-popup .top-block .text {
  font-size: 24px;
  color: #653c22;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
}

.alert-popup .bottom-block {
  position: relative;
  z-index: 5;
  width: calc(100% - 40px);
  display: flex;
  margin-right: 10px;
  margin-bottom: 5%;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.alert-popup .bottom-block .submit-block {
  width: 48%;
  position: relative;
  height: 80px;
  min-width: 180px;
  margin-bottom: 10px;
  top: 0;
}

.alert-popup .bottom-block .submit-block.left-block {
  margin-right: 2%;
}

@media (max-width: 569px) {
  .alert-popup .bottom-block .submit-block.left-block {
    margin-right: 0;
  }
  .alert-popup .bottom-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.alert-popup .bottom-block .submit-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert-popup .bottom-block .submit-block button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 250px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: capitalize;
}

@media(max-width: 767px) {

  .alert-popup .top-block .text {
    font-size: 22px;
  }

  .alert-popup .bottom-block {
    margin-top: 0;
    padding: 10px;
  }
  .alert-popup .bottom-block .submit-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alert-popup .bottom-block .submit-block button {
    height: auto;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
/* End Alert-popup */

/* Claim Reward */
.popup.claim-popup .popup-content {
  width: 888px;
  height: 821px;
  max-height: 78vh;
  max-width: 60vw;
  top: 58%;
}
.popup .popup-content .background-image-add {
  position: absolute;
  bottom : 100%;
  left: 50%;
  transform: translateX(-50%);
}
.popup.claim-popup .popup-content .main-box {
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  margin-top: 40px;
}
.popup.claim-popup .popup-content .main-box img {
  width: 30px;
}
.popup.claim-popup .popup-content .main-box .top-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup.claim-popup .popup-content .main-box .top-block .block {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup.claim-popup .popup-content .main-box .top-block .block.left-block {
  margin-right: 30px;
}
.popup.claim-popup .popup-content .main-box .top-block .block .text {
  font-size: 24px;
  padding: 3px 10px;
  position: relative;
  color: #653c22;
}
.popup.claim-popup .popup-content .main-box .top-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup.claim-popup .popup-content .main-box .bottom-block {
  width: calc(100% - 100px);
  margin-top: 23px;
  height: 100%;
  max-height: calc(100% - 130px);
  overflow-y: auto;
  margin-right: 0px;
  padding-right: 10px;
}
.popup.claim-popup .popup-content .main-box .bottom-block::-webkit-scrollbar {
  width: 7px;
}
.popup.claim-popup .popup-content .main-box .bottom-block::-webkit-scrollbar-thumb {
  background-color: #ad6a2e;
  border: 1px solid #ad6a2e;
}
.popup.claim-popup .popup-content .main-box .bottom-block::-webkit-scrollbar-track {
  border: none;
  background: #431f08;
  box-shadow: none;
  margin: 0 1px 0 0;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward {
  position: relative;
  margin-bottom: 10px;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward > * {
  z-index: 5;
  position: relative;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward:before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 38%;
  top: 44%;
  left: 15px;
  z-index: 1;
  transform: translatey(-50%);
  background-color: #ceb37f;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward > .text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #431f08;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .label-top {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .label-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .label-top .text {
  padding: 5px 40px 15px;
  font-size: 22px;
  color: #ffffff;
  position: relative;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .cash-main {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .cash-main img {
  width: 38px;
  margin-right: 10px;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .cash-main .text {
  font-size: 34px;
  color: #653c22;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 10px;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top img {
  width: 24px;
  margin-right: 10px;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top .text {
  font-size: 20px;
  color: #653c22;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom img {
  position: absolute;
  width: 100%;
}
.popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom button {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
@media (max-width: 1600px) {
  .popup.claim-popup .popup-content {
    max-height: 70vh;
    top: 62%;
  }
  .popup.claim-popup .popup-content .background-image-add {
    width: 40%;
    max-width: 180px;
  }
  .popup.claim-popup .popup-body .title-popup img {
    width: 45%;
    top: -13px;
    height: 45px;
  }
  .popup.claim-popup .popup-body .title-popup .text {
    top: -6px;
    font-size: 24px;
  }
}
@media(max-width: 991px) {
  .popup.claim-popup .popup-content {
    max-width: 75vw;
  }
  .popup.claim-popup .popup-content .main-box .top-block .block {
    width: 180px;
  }
  .popup.claim-popup .popup-content .main-box .top-block .block .text {
    font-size: 18px;
    padding : 0 5px;
  }
}
@media(max-width: 767px) {
  .popup.claim-popup .popup-content {
    max-height: 80vh;
    max-width: 90vw;
  }
  .popup.claim-popup .popup-content .main-box .top-block .block {
    width: 40%;
    max-width: 150px;
  }
  .popup.claim-popup .popup-body .title-popup img {
    top: -10px;
    height: 47px;
  }
  .popup.claim-popup .popup-content .main-box .top-block .block .text {
    font-size: 14px;
    padding: 0 5px;
    top: -4px
  }
  .popup.claim-popup .popup-content .main-box .bottom-block {
    width: calc(100% - 50px);
  }
  .popup.claim-popup .popup-content .main-box .bottom-block .group-reward .label-top .text {
    font-size: 14px;
    padding: 5px 20px 10px;
  }
  .popup.claim-popup .popup-content .main-box .bottom-block .group-reward .cash-main img {
    width: 27px;
  }
  .popup.claim-popup .popup-content .main-box .bottom-block .group-reward .cash-main .text {
    font-size: 22px;
  }
  .popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top .text {
    font-size : 14px;
  }
  .popup.claim-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top {
    padding: 0 5px;
  }
  .popup.claim-popup .popup-content .background-image-add {
    width: 40%;
    max-width: 180px;
  }
}
/* End Claim Reward */


/* Popup Fighting */
.choose_pirates-popup .popup .popup-body .title-popup img {
  width: 48%;
  top: -15px;
}
.choose_pirates-popup .popup-content {
  width: 888px;
  height: 744px;
  max-height: 78vh;
  max-width: 80vw;
  top: 58%;
}
.choose_pirates-popup .popup-content .background-image-add {
  position: absolute;
  bottom : 100%;
  left: 50%;
  transform: translateX(-50%);
}
.choose_pirates-popup .popup-content .main-box {
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  margin-top: 35px;
}
.filter_pirates .icon_filter {
  width: 22px;
  height: 12px;
  object-fit: contain;
}
.choose_pirates-popup .popup_filter .dropdown_filter {
  width: 145px;
}
.choose_pirates-popup .filter_dropdown .dropdown_filter {
  position: relative;
}
.choose_pirates-popup .popup-content .main-box .top-block {
  width: calc(100% - 68px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  position: relative;
}
.choose_pirates-popup .filter_dropdown .dropdown_item {
  padding: 9px 9px 9px 10px;
}
.choose_pirates-popup .filter_dropdown.open .filter_items {
  display: block;
  width: 145px;
  position: absolute;
  top: 36px;
}
.choose_pirates-popup .filter_pirates {
  background: #431f08;
  height: 36px;
  width: 100%;
  max-width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px 0 10px;
  cursor: pointer;
}
.choose_pirates-popup .filter_pirates span {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}
.choose_pirates-popup .popup-content .main-box .top-block .block {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_pirates-popup .popup-content .main-box .top-block .block.left-block {
  margin-right: 30px;
}
.choose_pirates-popup .popup-content .main-box .top-block .block .text {
  font-size: 24px;
  padding: 3px 10px;
  position: relative;
  color: #653c22;
}

.choose_pirates-popup .popup-content .main-box .bottom-block {
  width: calc(100% - 50px);
  margin-top: 30px;
  height: 100%;
  max-height: calc(100% - 130px);
  overflow-y: auto;
  margin-right: 0px;
  padding-right: 0px;
}

.popup.choose_pirates-popup .bottom-block .list_pirates {
  margin-right: 0;
}

.popup.choose_pirates-popup .popup-content {
  width: auto;
}
.popup.choose_pirates-popup .bottom-block .info_pirate .button_select {
  position: relative;
  padding-right: 12px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block::-webkit-scrollbar {
  width: 7px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block::-webkit-scrollbar-thumb {
  background-color: #ad6a2e;
  border: 1px solid #ad6a2e;
}
.choose_pirates-popup .popup-content .main-box .bottom-block::-webkit-scrollbar-track {
  border: none;
  background: #431f08;
  box-shadow: none;
  margin: 0 1px 0 0;
}

.popup.choose_pirates-popup .item_pirates::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.popup.choose_pirates-popup .item_pirates::-webkit-scrollbar-thumb {
  background-color: #ad6a2e;
  border: 1px solid #ad6a2e;
}
.popup.choose_pirates-popup .item_pirates::-webkit-scrollbar-track {
  border: none;
  background: #431f08;
  box-shadow: none;
  margin: 0 1px 0 0;
}

.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward {
  position: relative;
  margin-bottom: 10px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward > * {
  z-index: 5;
  position: relative;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward:before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 38%;
  top: 44%;
  left: 15px;
  z-index: 1;
  transform: translatey(-50%);
  background-color: #ceb37f;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward > .text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #431f08;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .label-top {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .label-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .label-top .text {
  padding: 5px 40px 15px;
  font-size: 22px;
  color: #ffffff;
  position: relative;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .cash-main {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .cash-main img {
  width: 38px;
  margin-right: 10px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .cash-main .text {
  font-size: 35px;
  color: #653c22;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 10px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top img {
  width: 24px;
  margin-right: 10px;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top .text {
  font-size: 20px;
  color: #653c22;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom img {
  position: absolute;
  width: 100%;
}
.choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .bottom button {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

@media(max-width: 1600px) {
  .choose_pirates-popup .popup-content {
    max-height: 70vh;
    top: 62%;
  }

  .popup.choose_pirates-popup .popup-body .title-popup img {
    height: 45px;
    width: 45%;
  }
  .popup.choose_pirates-popup .popup-body .title-popup .text {
    font-size: 24px;
    top: -8px;
  }
  .choose_pirates-popup .filter_pirates span {
    font-size: 16px;
  }

  .popup.choose_pirates-popup .bottom-block .info_pirate .parite_name .bottom span, .popup.choose_pirates-popup .info_pirate .parite_name .level {
    font-size: 12px;
  }

  .choose_pirates-popup .popup-content {
    max-width: 75vw;
  }

  .choose_pirates-popup .popup-content .main-box .top-block .block {
    width: 180px;
  }
  .choose_pirates-popup .popup-content .main-box .top-block .block .text {
    font-size: 18px;
    padding : 0 5px;
  }

  .choose_pirates-popup .popup-content .main-box {
    margin-top: 25px;
  }

  .choose_pirates-popup .popup-content .main-box .top-block {
    width: calc(100% - 86px);
  }

  .badges img {
    width: 46px;
  }

  .filter_pirates .icon_filter {
    width: 17px;
  }

  .your img {
    width: 75px;
  }

  .popup.choose_pirates-popup .bottom-block .item_pirates {
    height: 120px;
  }

  .popup.choose_pirates-popup .bottom-block .info_pirate .parite_name .name {
    font-size: 22px;
  }

  .choose_pirates-popup .bottom-block .bottom .w-24 {
    width: 11px;
  }

  .choose_pirates-popup .bottom-block .bottom .exp img {
    width: 20px;
  }

  .choose_pirates-popup .popup-content .main-box .top-block .block {
    width: 40%;
    max-width: 150px;
  }
  .choose_pirates-popup .popup-content .main-box .top-block .block .text {
    font-size: 14px;
    padding: 0 5px;
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block {
    width: calc(100% - 50px);
    padding-right: 0;
    margin-top: 14px;
    max-height: calc(100% - 98px);
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .label-top .text {
    font-size: 14px;
    padding: 5px 20px 10px;
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .cash-main img {
    width: 27px;
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .cash-main .text {
    font-size: 22px;
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top .text {
    font-size : 14px;
  }
  .choose_pirates-popup .popup-content .main-box .bottom-block .group-reward .bottom-reward .top {
    padding: 0 5px;
  }
  .choose_pirates-popup .popup-content .background-image-add {
    width: 40%;
    max-width: 180px;
  }


}
@media(max-width: 767px) {
  .popup.choose_pirates-popup .popup-body .title-popup .text {
    font-size: 18px;
    top: -3px;
  }
  .choose_pirates-popup .popup-content {
    max-height: 80vh;
    max-width: 90vw;
  }

  .choose_pirates-popup .popup-content .background-image-add {
    max-width: 30%;
  }
  .your img {
    width: 55px;
  }
  .popup.choose_pirates-popup .popup-body .title-popup img {
    height: 45px;
  }
  .popup.choose_pirates-popup .popup-body .title-popup img {
    width: 55%;
    top: -9px;
  }
}
/* End Popup Fighting */


/* Updated drag mobile */
@media (max-width: 767px) {
  .navbar-expand-md .navbar-collapse.collapsing {
    left: auto;
  }

  .navbar .navbar-right {
    max-width: calc(100% - 70px);
    justify-content: flex-end;
    align-content: flex-start;
    padding: 0;
  }

  .navbar .navbar-right .gold {
    max-width: 50%;
  }

  .navbar .navbar-right .cash {}

  .navbar .navbar-right li {
    margin-right: 0;
  }

  .navbar .navbar-right li:not(:first-child) {
    margin-left: 20px;
  }

  div#bdNavbar.show {
    position: relative;
    max-width: 300px;
    width: 100%;
    left: auto;
    top: auto;
    transform: none;
  }

  div#bdNavbar .navbar-left {
    padding: 0 20px;
  }

  .sub_menu .dropdown-menu {
    margin-top: -4px;
  }

  .navbar-left li a {
    padding: 10px 0px;
  }

  .navbar-left li a.dropdown-item {
    padding: 0.25rem 1rem;
  }

  div#bdNavbar .navbar-left li:before {
    display: none;
  }

  div#bdNavbar .navbar-left li a.text {
    display: none;
  }

  div#bdNavbar .navbar-left img.icon {
    max-height: 25px;
  }

  div#bdNavbar .navbar-right {
    max-width: 110px;
  }

  .setting-block {
    display: flex;
    justify-content: flex-end;
  }

  .setting-block button img {
    max-width: 30px;
  }

  .navbar .container-fluid {
    align-items: flex-start;
  }
}

@media(max-width: 600px) {
  .navbar .navbar-right {
    max-width: 280px;
    justify-content: space-between;
  }

  .navbar .navbar-right li.wallet-block {
    margin-left: 0;
  }
}