.shop-page.treasure_page {
    height: auto;
    min-height: 100vh;
}
.shop-page.treasure_page .main-box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.menu-left {
    position: absolute;
    top: 100px;
    left: 15px;
    width: auto;
    height: auto;
    border: none;
    padding: 10px 5px;
    border-left: none;
    border-radius: 999px;
    background: rgba(34, 34, 34, 0.22);
    z-index: 10;
}
.menu-left .content-block {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.menu-left .content-block p {
    margin: 0;
    width: max-content;
}
.menu-left .content-block .one-block {
    position: relative;
    width: 60px;
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
}
.menu-left .content-block .one-block .icon-active {
    display: none;
}
.menu-left .content-block .one-block:hover .background,
.menu-left .content-block .one-block.active-click-popup .background {
    display: none;
}
.menu-left .content-block .one-block:hover .icon-active,
.menu-left .content-block .one-block.active-click-popup .icon-active {
    display: block;
}
.menu-left .content-block .one-block:hover .text,
.menu-left .content-block .one-block.active-click-popup .text {
    color: #d68a3e;
}

.menu-left .content-block .one-block:hover {
    cursor: pointer;
}
.menu-left .content-block .one-block:last-child {
    border: none;
}
.menu-left .content-block img {
    width: 60px;
    height: 60px;
}
.menu-left .content-block .text {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 100%;
    padding: 0 10px;
    background: rgba(34, 34, 34, 0.19);
    border-radius: 5px;
    z-index: -1;
    margin-left: 15px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    min-height: 30px;
    display: flex;
    align-items: center;
}
.treasuare-page {
    margin-top: 100px;
    max-width: 1920px;
}
.treasuare-page .count-down-block {
    max-width: 500px;
    margin: 0 auto 15px;
    width: 100%;
}
.treasuare-page .time-count-down {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 15px;
    margin-bottom: 3px;
}
.treasuare-page .time-count-down .background-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.treasuare-page .time-count-down #clockdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.treasuare-page .time-count-down #clockdiv .time,
.treasuare-page .time-count-down #clockdiv .text {
    color: #fac745;
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
}
.treasuare-page .time-count-down #clockdiv .text {
    margin-left: 5px;
}
.treasuare-page .time-count-down .days {
    color: #fac745;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.treasuare-page .message-count-down {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.treasuare-page .message-count-down .background-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.treasuare-page .message-count-down .text {
    color: #fac745;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    text-transform: uppercase;
}
.treasuare-page .block-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
}
@media (min-width: 1600px) {
    .treasuare-page .block-box .island-block:first-child {
        margin-top: 10%;
    }
}
.treasuare-page .island-block {
    position: relative;
    margin-bottom: 30px;
    min-width: 400px;
}
.treasuare-page .island-block > div {
    max-width: 95%;
    margin: 0 auto;
}
.treasuare-page .island-block .island-image {
    position: relative;
    padding-bottom: 300px;
}
.treasuare-page .island-block .island-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
}
.treasuare-page .island-block .island-content-box {
    position: relative;
    padding-bottom: 20px;
}
.treasuare-page .island-block .island-content-box > .text {
    text-align: center;
    color: #8b6d4f;
    margin: 5px 0;
}
.treasuare-page .island-block .island-content-box > .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.treasuare-page .island-block .island-content-box .title img {
    position: absolute;
    width: 60%;
    top: -25px;
    height: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.treasuare-page .island-block .island-content-box .title .text {
    z-index: 9;
    position: relative;
    top: -10px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 50%;
    padding: 0 10px;
    font-size: 18px;
}
.treasuare-page .island-block .island-content-box .quanlity-box {
    margin: 20px 30px 10px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ceb37f;
}
.treasuare-page .island-block .island-content-box .quanlity-box .text {
    color: #653c22;
}
.treasuare-page .island-block .island-content-box .quanlity-box .minus,
.treasuare-page .island-block .island-content-box .quanlity-box .plus {
    margin: 0 10px;
    background: #ad6a2e;
    border: 1px solid #222;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: auto;
    height: 25px;
    color: #653c22;
}
.treasuare-page .island-block .island-content-box .quanlity-box input {
    width: auto;
    background: transparent;
    border: none;
    outline: none;
    width: 30px;
    color: #fff;
    text-align: center;
    line-height: auto;
    height: auto;
    margin: 0;
}
.treasuare-page .island-block .island-content-box .info-box {
    margin: 10px 30px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8b6d4f;
}
.treasuare-page .island-block .island-content-box .info-box .text {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
}
.treasuare-page .island-block .island-content-box .submit-block {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 140px;
    height: 40px;
    margin: 0 auto;
}
.treasuare-page .island-block .island-content-box .submit-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.treasuare-page .island-block .island-content-box .submit-block .btn {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    z-index: 99;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    font-size: 14px;
}

.treasure_page aside.menu-right {
    position: absolute;
    right: 20px;
    width: auto;
}
.treasure_page aside.menu-right .box {
    position: relative;
    width: 200px;
    height: 50px;
}
.treasure_page aside.menu-right .box img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.treasure_page aside.menu-right .box .text {
    background: transparent;
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;
    color: #fff;
}
@media (max-width: 767px) {
    .treasure_page aside.menu-right {
        position: relative;
        right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .shop-page.treasure_page .main-box > .row .top{
        width: 100%;
    }
}



/* popup History */
.treasure-full-width {
    z-index: 9999 !important;
}
.treasure-full-width .popup-content {
    width: 100%;
    height: auto;
}
.treasure-full-width .popup-content .main-box {
    height: 100%;
    padding: 60px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.treasure-full-width .popup-content .title-popup {
    height: 0;
}
.treasure-full-width .popup-body .title-popup img {
    width: 60%;
}
.treasure-full-width .flex {
    display: flex;
    align-items: center;
}
.treasure-full-width .content-main {
    width: 92%;
    margin: 20px 30px;
    height: calc(100% - 40px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #ceb37f;
    border-radius: 30px;
}
.treasure-full-width .content-main .top-content {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 150px;
    background: #7c5032;
    border-radius: 30px;
    justify-content: space-between;
}
.treasure-full-width .content-main .top-content .flex {
    width: 40%;
}
.treasure-full-width .content-main .top-content .flex.right-content {
    width: 50%;
}
.treasure-full-width .content-main .top-content .left-content > div {
    width: 50%;
}
.treasure-full-width .content-main .top-content p {
    font-size: 40px;
    color: #f1dea5;
}
.treasure-full-width .content-main .top-content .image-icon {
    margin: 0 auto;
    text-align: center;
}
.treasure-full-width .content-main .top-content .image-icon img {
    max-width: 100%;
}
.treasure-full-width .content-main .top-content .acheron {
    position: relative;
    width: 100%;
    height: 150px;
}
.treasure-full-width .content-main .top-content .acheron img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 100%;
}
.treasure-full-width .content-main .top-content .pkt-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 50%;
    position: relative;
}
.treasure-full-width .content-main .top-content .pkt-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 100%;
}
.treasure-full-width .content-main .top-content .pkt-block p {
    position: relative;
    z-index: 10;
    font-size: 1.5vw;
    color: #27c127;
}
.treasure-full-width .content-main .container-content {
    display: flex;
    width: 100%;
    max-height: calc(40vh - 50px);
    overflow: auto;
    padding-bottom: 30px;
}
.treasure-full-width .content-main .container-content .content-w-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
}
.treasure-full-width .content-main .container-content .content-w-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    max-width: 100%;
}
.treasure-full-width .content-main .container-content .content-w-box p {
    position: relative;
    font-size: 30px;
    color: #c93716;
}
.treasure-full-width .content-main .container-content .content-w-box p.plus {
    color: #38ae30;
}
.treasure-full-width .content-main .container-content ul {
    justify-content: space-between;
    padding: 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
}
.treasure-full-width .content-main .container-content ul .block-item {
    width: 18%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.treasure-full-width .content-main .container-content ul .block-item .text {
    text-align: center;
    margin-bottom: 5px;
}
.treasure-full-width .content-main .container-content ul li {
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid brown;
}
.treasure-full-width .content-main .container-content ul li:last-child {
    padding-bottom: 0;
    border: none;
}
.treasure-full-width .content-main .container-content ul .island-name .text-name {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.treasure-full-width .content-main .container-content ul .island-name .text-name p {
    position: relative;
    margin-bottom: 0;
    height: 42px;
    width: 100%;
    text-align: center;
    padding-left: 75px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #431f08;
    font-size: 22px;
}
.treasure-full-width .content-main .container-content ul .date-time p {
    font-size: 30px;
    color: #431f08;
}
.treasure-hunted-popup.treasure-full-width .top-content .dropdown-custom {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    appearance: none;
    background-image: url("/image/treasure/Icon_arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: #f8e2b1;
    font-size: 18px;
    padding: 0 10px;
    border: none;
    outline: none;
    box-shadow: none;

}


/*Top Player*/
.top-player-popup.treasure-full-width .main-box .content-main {
    background: transparent;
    height: 100%;
    margin: 30px 0;
}
.top-player-popup.treasure-full-width .top-content {
    height: auto;
    background: transparent;
    margin-top: 30px;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
}
.top-player-popup.treasure-full-width .top-content .input-group {
    margin-right: 15px;
    background-color: #341408;
}
.top-player-popup.treasure-full-width .top-content .input-group input {
    background: transparent;
    border-radius: 3px 0 0 3px;
    border: none;
}
.top-player-popup.treasure-full-width .top-content .input-group .btn {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0;
}
.top-player-popup.treasure-full-width .top-content .service {
    height: 100%;
    min-width: 200px;
    border-radius: 5px;
    background-color: #341408;
    appearance: none;
    background-image: url('/image/treasure/Icon_arrow.png');
    background-repeat: no-repeat;
    background-position: 99% 70%;
    color: #f8e2b1;
    font-size: 18px;
    padding: 0 10px;
}
.top-player-popup.treasure-full-width .container-content {
    height: auto;
    max-height: 40vh;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}
.top-player-popup.treasure-full-width .container-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
.top-player-popup.treasure-full-width .container-content ul li {
    border-bottom: none;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 15%;
    display: flex;
    justify-content: center;
}
.top-player-popup.treasure-full-width .container-content ul li:first-child {
    justify-content: center;
    width: 10%;
}
.top-player-popup.treasure-full-width .container-content ul li:nth-child(2) {
    width: 60%;
}
.top-player-popup.treasure-full-width .container-content ul li p {
    text-align: center;
}
.top-player-popup.treasure-full-width .container-content .top-container {
    margin-top: 10px;
    background: #ceb37f;
    border-radius: 10px;
    flex-grow: 0;
    margin-right: 10px;
}
.top-player-popup.treasure-full-width .container-content .top-container li {
    color: #431f08;
    text-transform: uppercase;
    font-size: 22px;
    width: 15%;
    display: flex;
    justify-content: center;
}
.top-player-popup.treasure-full-width .container-content .top-container li:nth-child(2) {
    width: 60%;
}
.top-player-popup.treasure-full-width .container-content .top-container li:first-child {
    justify-content: center;
    width: 10%;
}
.top-player-popup.treasure-full-width .container-content .main-container {
    max-height: 100%;
    overflow: auto;
    flex-grow: 2;
    padding-right: 10px;
}
.top-player-popup.treasure-full-width .container-content .main-container .items {
    margin: 10px 0;
    background: #7c5032;
    border-radius: 10px;
    padding: 0 20px;
}
.top-player-popup.treasure-full-width .container-content .main-container .items .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.top-player-popup.treasure-full-width .container-content .main-container .items img {
    margin-left: 10px;
}
.top-player-popup.treasure-full-width .container-content .main-container .items .item:first-child img{
    margin-left: 0;
}
.top-player-popup.treasure-full-width .container-content .main-container .items .text {
    font-size: 24px;
    color: #f8e2b1;
}

.top-player-popup.treasure-full-width .container-content .main-container .items .number {
    font-size: 40px;
    color: #f8e2b1;
}

/*Rules Popup*/
.popup.rules-popup .popup-content {
    width: auto;
    height: calc(90vh - 30px);
}
.popup.rules-popup .main-box {
    padding-bottom: 10px;
    padding-top: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.popup.rules-popup.popup-update .popup-body .main-box {
    margin-top: 30px;
}
.popup.rules-popup .main-box .container-box {
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    background-color: transparent;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}
.popup.rules-popup .main-box img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/*Event popup*/
.popup.custom-popup-two .main-box {
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 90%;
    padding-top: 50px;
}
.popup.custom-popup-two .main-box .text {
    font-size: 60px;
    color: #653c22;
    font-weight: 400;
    font-family: "Changa";
}
.popup.custom-popup-two .main-box .top-block {
    flex-grow: 2;
    position: relative;
    width: calc(100% - 60px);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: #ceb37f;
}
.popup.custom-popup-two .main-box .submit-block {
    position: relative;
}
.popup.custom-popup-two .main-box .submit-block button {
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    right: 0;
    left: 0;
    top: 0;
    font-size: 30px;
}

/*popup-update*/
.popup.popup-update .popup-content {
    max-height: calc(90vh - 30px);
    max-width: 90%;
}
.popup.popup-update .popup-body .main-box  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    padding-bottom: 50px;
    max-height: calc(100% - 55px);
    overflow: auto;
}

/*Popup Win Ability*/
.treasuare-page .island-block > div .island-image {
    overflow: hidden;
}
.treasuare-page .island-block > div .island-image:hover {
    cursor: pointer;
}
.treasuare-page .island-block > div .island-image:hover img {
    transform: scale(1.2);
}
.win-ability-popup.custom-popup-two .main-box {
    max-height: 100% !important;
}
.win-ability-popup.custom-popup-two .main-box .top-block {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px;
    margin-top: 0;
}
.win-ability-popup.custom-popup-two .main-box .top-block > .text {
    width: 100%;
    font-size: 32px;
    color: #653c22;
    text-align: center;
    margin: 10px 0;
}
.win-ability-popup.custom-popup-two .main-box .top-block .main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-ability-popup.custom-popup-two .main-box .top-block .main img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.win-ability-popup.custom-popup-two .main-box .top-block .main p {
    font-size: 48px;
    color: #653c22;
}
.win-ability-popup.custom-popup-two .main-box .bottom-block {
    width: auto;
    margin: 0 auto 10px;
}


@media (max-width: 991px) {
    .shop-page.treasure_page .main-box {
        margin-top: 70px;
    }
    .shop-page.treasure_page .main-box .menu-left .content-block .text {
        display: none;
    }
    .shop-page.treasure_page .main-box .island-block > div {
        max-width: 90%;
        margin: 0 20px;
    }
    .top-player-popup.treasure-full-width .main-box .content-main {
        margin-top: 30px;
    }
    .top-player-popup.treasure-full-width .popup-body .main-box {
        padding-bottom: 0;
        padding-top: 0;
    }
    .top-player-popup.treasure-full-width .top-content {
        flex-wrap: wrap;
        padding-right: 20px;
        margin-top: 0;
    }
    .top-player-popup.treasure-full-width .top-content .input-group {
        margin-bottom: 10px;
        margin-right: 0;
        width: auto;
        min-width: 245px;
        border-radius: 5px;
    }
    .top-player-popup.treasure-full-width .top-content .service {
        min-height: 36px;
        height: auto;
        margin-left: 10px;
        margin-bottom: 10px;
        min-width: 245px;
    }
    .top-player-popup.treasure-full-width .container-content {
        max-height: 50vh;
    }
    .top-player-popup.treasure-full-width .container-content .top-container {
        display: none;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items {
        flex-wrap: wrap;
        padding: 10px 0;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .item {
        width: 100%;
        justify-content: flex-start;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .item .right {
        width: calc(80% - 20px);
        justify-content: center;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .item img.right {
        width: auto !important;
        margin: 0 auto !important;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .item:not(:last-child) {
        border-bottom: 1px solid #f8e2b1;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .text.hidden-lg {
        min-width: calc(20%);
        text-align: left;
        font-size: 18px;
        margin-right: 20px;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .text {
        font-size: 18px;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .box {
        justify-content: flex-start;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .box .text {
        width: auto;
        order: 2;
    }
    .top-player-popup.treasure-full-width .container-content .main-container .items .box img {
        margin: 0 10px 10px 10px;
    }
    .popup.treasure-hunted-popup .main-box {
        padding-top: 0;
    }
    .popup.treasure-hunted-popup .content-main .top-content {
        height: auto;
        flex-wrap: wrap;
    }
    .popup.treasure-hunted-popup .content-main .top-content .pkt-block p {
        font-size: 20px;
    }
    .popup.treasure-hunted-popup .content-main .top-content .image-icon {
        margin-right: 0;
        margin-left: auto;
    }
    .popup.treasure-hunted-popup .content-main .top-content .image-icon img {
        max-height: 60px;
        max-width: 100px;
    }
    .popup.treasure-hunted-popup .content-main .top-content .image-icon.claim img {
        height: 50px;
    }
    .popup.treasure-hunted-popup .content-main .top-content .acheron {
        height: 60px;
    }
    .popup.treasure-hunted-popup .content-main .top-content .acheron img {
        right: 0;
        left: auto;
    }
    .popup.treasure-hunted-popup .content-main .top-content .flex {
        width: 100%;
        margin-bottom: 15px;
        justify-content: space-between;
    }
    .popup.treasure-hunted-popup .content-main .container-content ul .block-item {
        min-width: 230px;
        margin: 0 15px;
    }
    .popup.treasure-hunted-popup .content-main .container-content ul .block-item:first-child {
        margin-left: 0;
    }
    .popup.treasure-hunted-popup .content-main .container-content ul .block-item:last-child {
        margin-right: 0;
    }
    .popup.treasure-hunted-popup .content-main .container-content {
        padding-bottom: 0;
        overflow: auto;
    }
    .popup.treasure-hunted-popup .content-main .container-content .item.flex{
        padding-bottom: 10px;
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    .shop-page.treasure_page .main-box .menu-left {
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        left: auto;
        margin: 0 auto;
        padding: 0 20px;
    }
    .shop-page.treasure_page .main-box .menu-left .content-block {
        flex-direction: row;
        justify-content: space-between;
    }
    .shop-page.treasure_page .main-box .menu-left .content-block .one-block {
        border-bottom: none;
        margin: 0 10px;
    }
    .shop-page.treasure_page .main-box .island-block .island-image {
        padding-bottom: 240px;
    }
    .popup.treasure-hunted-popup .content-main {
        margin: 30px 0;
    }
    .popup.treasure-hunted-popup .content-main .top-content p {
        font-size: 20px;
        line-height: 22px;
    }
    .popup.treasure-hunted-popup .content-main .container-content {
        max-height: calc(50vh - 100px);
    }
    .popup.popup-update .popup-content {
        height: auto;
        width: auto;
    }
    .popup.popup-update .popup-body .main-box {
        padding: 0;
        margin-top: 30px;
    }
    .popup.popup-update .popup-body .main-box .top-block {
        margin: 0 0 30px;
        width: 100%;
    }
    .popup.popup-update .popup-body .main-box .top-block .text {
        font-size: 24px;
    }
    .popup.popup-update .popup-body .main-box .bottom-block {
        margin-bottom: 20px;
    }
    .popup.popup-update .popup-body .main-box .bottom-block .background-icon {
        max-width: 100%;
        max-height: 50px;
    }
    .popup.popup-update.rules-popup .popup-content {
        height: 90%;
    }
    .popup.popup-update.rules-popup .popup-content .main-box {
        padding-bottom: 30px;
        margin: 30px 10px 0;
        width: calc(100% - 20px);
    }
}
@media (max-width: 575px) {
    .shop-page.treasure_page .main-box .time-count-down #clockdiv .time,
    .shop-page.treasure_page .main-box .time-count-down #clockdiv .text {
        font-size: 20px;
        line-height: 20px;
    }
    .shop-page.treasure_page .main-box .time-count-down .days {
        font-size: 20px;
        line-height: 20px;
    }
    .shop-page.treasure_page .main-box .message-count-down .text {
        font-size: 14px;
        line-height: 16px;
    }
    .win-ability-popup.custom-popup-two .main-box .top-block .main p {
        font-size: 28px;
    }
    .win-ability-popup.custom-popup-two .main-box {
        padding-bottom: 30px !important;
    }
}
