<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- bootstrap.min css -->
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css" />
<!-- Slick Slider  CSS -->
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css" />
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css" />

<!-- Main Stylesheet -->
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/shop.css">
<link rel="stylesheet" href="css/figting.css">
<link rel="stylesheet" href="css/pirate.css">
<link rel="stylesheet" href="css/treasure-island.css">