<header class="navbar navbar-expand-md navbar bd-navbar">
    <nav class="container-fluid flex-wrap flex-md-nowrap justify-content-between not-active">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
                aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                </path>
            </svg>
        </button>


        <div class="navbar-collapse collapse" id="bdNavbar">
            <!-- navbar-left -->
            <ul class="navbar-left d-flex align-items-center justify-content-between">
                <img src="image/header/bg_menu.png" alt="" class="back-ground-left">

                <li class="nav-item shop-block flex-wrap d-flex justify-content-center active">
                    <a href="/">
                        <img src="image/header/Icon_shop_normal.png" alt="" class="icon" />
                        <img src="image/header/Icon_shop_normal_selected.png" alt="" class="active" />
                    </a>
                    <a href="/" class="text">Shop</a>
                </li>
                <li class="nav-item inventory-block flex-wrap d-flex justify-content-center dropdown">
                    <div class="item_inventory">
                        <a href="/inventory.php">
                            <img src="image/header/icon_inventory.png" alt="" class="icon" />
                            <img src="image/header/icon_inventory_select.png" alt="" class="active" />
                        </a>
                        <a href="/inventory.php" class="text">Inventory</a>
                    </div>

                    <div class="sub_menu">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <img src="image/header/icons-pirate-1.png" alt="" class="icons" />
                                <img src="image/header/icons-pirate-1select.png" alt="" class="icons_active" />
                                My Chests
                            </a>
                            <a href="/pirates.php" class="dropdown-item">
                                <img src="image/header/icons-pirate-2.png" alt="" class="icons" />
                                <img src="image/header/icons-pirate-2select.png" alt="" class="icons_active" />
                                My Pirates
                            </a>
                            <a href="#" class="dropdown-item">
                                <img src="image/header/icons-pirate-3.png" alt="" class="icons" />
                                <img src="image/header/icons-pirate-3select.png" alt="" class="icons_active" />
                                My Items
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item fighting-block flex-wrap d-flex justify-content-center">
                    <a href="/fighting.php" >
                        <img src="image/header/icon_fighting_normal.png" alt="" class="icon" />
                        <img src="image/header/icon_fighting_normal_selected.png" alt="" class="active" />
                    </a>
                    <a href="/fighting.php" class="text">Fighting</a>
                </li>

                <li class="nav-item market-block flex-wrap d-flex justify-content-center">
                    <a href="/">
                        <img src="image/header/Icon_marketplace_normal.png" alt="" class="icon" />
                        <img src="image/header/Icon_marketplace_selected.png" alt="" class="active" />
                    </a>
                    <a href="/" class="text">Marketplace</a>
                </li>

                <li class="nav-item treasuare-block flex-wrap d-flex justify-content-center">
                    <a href="/treasure-island.php" >
                        <img src="image/header/icon_treasure-island.png" alt="" class="icon" />
                        <img src="image/header/icon_treasure-island_selected.png" alt="" class="active" />
                    </a>
                    <a href="/treasure-island.php" class="text">Treasure island</a>
                </li>

            </ul>
            <!-- navbar left -->
        </div>

        <!-- .navbar-right -->
        <ul class="navbar-right d-flex align-items-center flex-wrap">
            <li class="nav-item money gold">
                <img src="image/header/Button_coin.png" alt="" class="icon">
                <p class="number">40000</p>

            </li>

            <li class="nav-item money cash">
                <img src="image/header/Button_claim_new.png" alt="" class="icon">
                <p class="number">40000</p>

                <button class="claim"></button>
            </li>

            <li class="nav-item wallet-block">
                <img src="image/header/Icon_wallet.png" alt="" class="background-icon">
                <button class="wallet connect-wallet">Connect wallet</button>
            </li>

            <li class="nav-item setting setting-block dropdown">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <img src="image/header/Icon_setting.png" alt="" class="icon">
                </button>
            </li>
        </ul>
        <!-- /.navbar-right -->
    </nav>
</header>

        <!-- Modal -->
        <div class="popup setting-popup" >
            <div class="popup-content">
                <div class="close-modal">
                    <img src="image/Icon_close.png" alt="" class="background-image">
                </div>
                <div class="popup-body">
                    <img src="image/Popup_claimpkt.png" alt="" class="background-image">
                    <div class="title-popup">
                        <img src="image/Treasure-Hunted.png" alt="" class="background-image">
                        <p class="text">Setting</p>
                    </div>
                    <div class="main-box">
                        <div class="top-block">
                            <img src="image/header/077-volume.png" alt="" class="background-image">
                        </div>
                        <div class="bottom-block">
                            <div class="text">Your wallet address</div>
                            <input type="text" class="">
                            <div class="submit-block">
                                <img src="image/Button_claim.png" alt="" class="background-icon">
                                <button type="submit" class="btn btn-primary">Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup wallet-popup" >
            <div class="popup-content">
                <div class="close-modal">
                    <img src="image/Icon_close.png" alt="" class="background-image">
                </div>
                <div class="popup-body">
                    <img src="image/Popup_claimpkt.png" alt="" class="background-image">
                    <div class="title-popup">
                        <img src="image/Treasure-Hunted.png" alt="" class="background-image">
                        <p class="text">Connect Wallet</p>
                    </div>
                    <div class="main-box">
                        <div class="top-block">
                            <div class="text">Logo</div>
                        </div>
                        <div class="bottom-block">
 
                            <div class="submit-block left-block">
                                <img src="image/Button_claim.png" alt="" class="background-icon">
                                <button type="submit" class="btn btn-primary">How To Play</button>
                            </div>

                            <div class="submit-block right-block">
                                <img src="image/Button_claim.png" alt="" class="background-icon">
                                <button type="submit" class="btn btn-primary">Connect Wallet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup claim-popup" >
            <div class="popup-content">
                <div class="close-modal">
                    <img src="image/Icon_close.png" alt="" class="background-image">
                </div>
                <div class="popup-body">
                    <!-- <img src="image/Popup_reward.png" alt="" class="background-image"> -->
                    <img src="image/vo_lang.png" alt="" class="background-image-add">
                    <img src="image/background_popup_reward_new.png" alt="" class="background-image">

                    <div class="title-popup">
                        <img src="image/Treasure-Hunted.png" alt="" class="background-image">
                        <p class="text">Reward</p>
                    </div>
                    <div class="main-box">
                        <div class="top-block">
                            <div class="left-block block">
                                <img src="image/Paper_claim.png" alt="" class="background-image">
                                <p class="text">1 USD = 1 BUSD</p>
                            </div>
                            <div class="right-block block">
                                <img src="image/Paper_claim.png" alt="" class="background-image">
                                <p class="text">1 USD = 1000 PKT</p>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <div class="group-reward">
                                <img src="image/reward_main.png" alt="" class="background-image">
                                <p class="text">3/1</p>
                                <div class="label-top">
                                    <img src="image/Rectangle_label.png" alt="" class="background-image">
                                    <p class="text">Not avaiable</p>
                                </div>
                                <div class="cash-main">
                                    <img src="image/header/usd-reward.png" alt="" class="background-image">
                                    <div class="text">10 USD</div>
                                </div>
                                <div class="bottom-reward">
                                    <div class="submit-group left-block">
                                        <div class="top">
                                            <img src="image/coin_busd.png" alt="" class="background-image">
                                            <p class="text">BUSD: 10</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim BUSD</button>
                                        </div>
                                    </div>
        
                                    <div class="submit-group right-block">
                                        <div class="top">
                                            <img src="image/coin_pkt.png" alt="" class="background-image">
                                            <p class="text">PKT: 1000</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim PKT</button>
                                        </div>                                
                                    </div>
                                </div>


                            </div>
                            <div class="group-reward">
                                <img src="image/reward_main.png" alt="" class="background-image">
                                <p class="text">3/1</p>
                                <div class="label-top">
                                    <img src="image/Rectangle_label.png" alt="" class="background-image">
                                    <p class="text">Not avaiable</p>
                                </div>
                                <div class="cash-main">
                                    <img src="image/header/usd-reward.png" alt="" class="background-image">
                                    <div class="text">10 USD</div>
                                </div>
                                <div class="bottom-reward">
                                    <div class="submit-group left-block">
                                        <div class="top">
                                            <img src="image/coin_busd.png" alt="" class="background-image">
                                            <p class="text">BUSD: 10</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim BUSD</button>
                                        </div>
                                    </div>
        
                                    <div class="submit-group right-block">
                                        <div class="top">
                                            <img src="image/coin_pkt.png" alt="" class="background-image">
                                            <p class="text">PKT: 1000</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim PKT</button>
                                        </div>                                
                                    </div>
                                </div>


                            </div>
                            <div class="group-reward">
                                <img src="image/reward_main.png" alt="" class="background-image">
                                <p class="text">3/1</p>
                                <div class="label-top">
                                    <img src="image/Rectangle_label.png" alt="" class="background-image">
                                    <p class="text">Not avaiable</p>
                                </div>
                                <div class="cash-main">
                                    <img src="image/header/usd-reward.png" alt="" class="background-image">
                                    <div class="text">10 USD</div>
                                </div>
                                <div class="bottom-reward">
                                    <div class="submit-group left-block">
                                        <div class="top">
                                            <img src="image/coin_busd.png" alt="" class="background-image">
                                            <p class="text">BUSD: 10</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim BUSD</button>
                                        </div>
                                    </div>
        
                                    <div class="submit-group right-block">
                                        <div class="top">
                                            <img src="image/coin_pkt.png" alt="" class="background-image">
                                            <p class="text">PKT: 1000</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim PKT</button>
                                        </div>                                
                                    </div>
                                </div>


                            </div>
                            <div class="group-reward">
                                <img src="image/reward_main.png" alt="" class="background-image">
                                <p class="text">3/1</p>
                                <div class="label-top">
                                    <img src="image/Rectangle_label.png" alt="" class="background-image">
                                    <p class="text">Not avaiable</p>
                                </div>
                                <div class="cash-main">
                                    <img src="image/header/usd-reward.png" alt="" class="background-image">
                                    <div class="text">10 USD</div>
                                </div>
                                <div class="bottom-reward">
                                    <div class="submit-group left-block">
                                        <div class="top">
                                            <img src="image/coin_busd.png" alt="" class="background-image">
                                            <p class="text">BUSD: 10</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim BUSD</button>
                                        </div>
                                    </div>
        
                                    <div class="submit-group right-block">
                                        <div class="top">
                                            <img src="image/coin_pkt.png" alt="" class="background-image">
                                            <p class="text">PKT: 1000</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim PKT</button>
                                        </div>                                
                                    </div>
                                </div>


                            </div>
                            <div class="group-reward">
                                <img src="image/reward_main.png" alt="" class="background-image">
                                <p class="text">3/1</p>
                                <div class="label-top">
                                    <img src="image/Rectangle_label.png" alt="" class="background-image">
                                    <p class="text">Not avaiable</p>
                                </div>
                                <div class="cash-main">
                                    <img src="image/header/usd-reward.png" alt="" class="background-image">
                                    <div class="text">10 USD</div>
                                </div>
                                <div class="bottom-reward">
                                    <div class="submit-group left-block">
                                        <div class="top">
                                            <img src="image/coin_busd.png" alt="" class="background-image">
                                            <p class="text">BUSD: 10</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim BUSD</button>
                                        </div>
                                    </div>
        
                                    <div class="submit-group right-block">
                                        <div class="top">
                                            <img src="image/coin_pkt.png" alt="" class="background-image">
                                            <p class="text">PKT: 1000</p>
                                        </div>
                                        <div class="bottom">
                                            <img src="image/Button_claim.png" alt="" class="background-icon">
                                            <button type="submit" class="btn btn-primary">Claim PKT</button>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup choose_pirates-popup" >
            <div class="popup-content">
                <div class="close-modal">
                    <img src="image/Icon_close.png" alt="" class="background-image">
                </div>
                <div class="popup-body">
                    <img src="image/vo_lang.png" alt="" class="background-image-add">
                    <img src="image/background_popup_reward_new.png" alt="" class="background-image">

                    <div class="title-popup">
                        <img src="image/Treasure-Hunted.png" alt="" class="background-image">
                        <p class="text">Your Pirates</p>
                    </div>
                    <div class="main-box">
                        <div class="top-block filter_dropdown popup_filter">
                            <div class="filter_pirates filter_click">
                                <span>Filter</span>
                                <img src="image/icon-filter.png" alt="" class="icon_filter">
                            </div>

                            <div class="filter_items">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"></a>
                                <div class="dropdown_filter">
                                    <a href="#" class="dropdown_item">
                                        Rare, Lowest to Highest
                                    </a>
                                    <a href="#" class="dropdown_item">
                                        Rare, Highest to Lowest
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <div class="list_pirates">
                                <div class="item_pirates item_legend">
<!--                                    <img src="image/figting/item-pirates.png" alt="your pirates">-->
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>345634561111</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>345</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>3456</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/legend.png" alt="your pirates"></div>
                                    </div>
                                </div>
                                <div class="item_pirates item_sr">
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/rare.png" alt="your pirates"></div>
                                    </div>
                                </div>
                                <div class="item_pirates item_sr">
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/rare.png" alt="your pirates"></div>
                                    </div>
                                </div>
                                <div class="item_pirates item_sr">
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/rare.png" alt="your pirates"></div>
                                    </div>
                                </div>
                                <div class="item_pirates item_sr">
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/rare.png" alt="your pirates"></div>
                                    </div>
                                </div>
                                <div class="item_pirates item_sr">
                                    <div class="info_pirate">
                                        <div class="your"><img src="image/figting/your.png" alt="your pirates"></div>
                                        <div class="info_name">
                                            <div class="parite_name">
                                                <div class="top">
                                                    <h4 class="name">Name Parite</h4>
                                                    <p class="level">Level: 12</p>
                                                </div>
                                                <div class="bottom">
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-power.png" alt="power">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="exp">
                                                        <img src="image/figting/pirates-exp.png" alt="exp">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="fight">
                                                        <img class="w-24" src="image/figting/pirates-energy.png" alt="energy">
                                                        <span>1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button_select">
                                                <img src="image/figting/select.png" alt="energy">
                                                <span class="select">Select</span>
                                                <button type="button" class="select_button"></button>
                                            </div>
                                        </div>
                                        <div class="badges"> <img src="image/figting/rare.png" alt="your pirates"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup alert-popup" >
            <div class="popup-content">
                <div class="popup-body">
                    <img src="image/Popup_claimpkt.png" alt="" class="background-image">
                    <div class="title-popup">
                        <img src="image/Treasure-Hunted.png" alt="" class="background-image">
                        <p class="text">Alert</p>
                    </div>
                    <div class="main-box">
                        <div class="top-block">
                            <div class="text">Your transaction is successful</div>
                        </div>
                        <div class="bottom-block">

                            <div class="submit-block left-block">
                                <img src="image/Button_claim.png" alt="" class="background-icon">
                                <button type="submit" class="btn btn-primary">Inventory</button>
                            </div>

                            <div class="submit-block right-block ">
                                <img src="image/Button_cancel.png" alt="" class="background-icon">
                                <button type="submit" class="btn btn-primary close-modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>