<!-- Main jQuery -->
<script src="/plugins/jquery/jquery.js"></script>
<!-- Bootstrap 4.3.2 -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Slick Slider -->
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="js/script.js"></script>